<%- include('../includes/head.ejs') %>
</head>

<body>
<%- include('../includes/navigation.ejs') %>
<main>
    <% if (products.length) { %>
        <ul>
            <% products.forEach(item => { %>
                <li><% item.productData.title %> (<% item.qty %>)</li>
            <% }) %>
        </ul>
    <% } else { %>
        <h1>No products in Cart!</h1>
    <% } %>
</main>
<%- include('../includes/end.ejs') %>